body {
  font-style: sans-serif;
}
h1 {
  color: #1e0cc7;
  margin-bottom: 0 auto;
  text-align: center;
  text-shadow: #afbbe2 3px 2px;
}

li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
ul {
  margin: 0 auto;
  padding: 0;
}

h4 first-letter {
  text-transform: capitalize;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
}
.overview {
  margin-bottom: 0 auto;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  float: left;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

#description {
  text-transform: capitalize;
}

.weather-temperature .active {
  color: rgb(25, 41, 116);
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-app {
  padding: 20px;
  border: 1px solid #334da1;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date,
.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}